<style>
		*{
			margin: 0;
			padding: 0;
		}
		body{
			font-family: arial;
			background-color: #b3ecec;
		}
		#header{
			background-color: #43e8d8;
			height: 100px;
			width: 100%;
		}
		.container{
			width: 960px;
			height: 100px;
			margin: 0 auto;
		}
		#logoArea{
			width: 300px;
			height: 100px;
			float: left;
		}
		#logo{
			margin-top: 20px;
			list-style: none;
			float: left;
		}
		#logo li{
			color: white;
			font-family: arial;
			font-size: 20pt;
			background-color: #89ecda;
			padding: 8px;
			border: 3px solid #b3ecec;

		}
		#navArea{
			width: 660px;
			height: 100px;
			float: right;
		}
		#nav{
			margin-top: 30px;
			list-style: none;
			float: right;
		}
		#nav a{
			color: white;
			text-decoration: none;
		}
		#nav li{
			float: left;
			margin-left: 30px;
			background-color: #89ecda;
			padding: 8px;
			border: 3px solid #b3ecec;
		}
		#nav li:hover{
			background-color: #b3ecec;
			text-decoration: underline;
		}
		#main{
			margin: 0 auto;
			padding-bottom: 0;
			width: 960px;
			height: 700px;
			background-color: #89ecda;
		}
		#container{
			margin: 0 auto;
			width: 850px;
		}
		#content{
			list-style: none;
		}
		#content li{
			color: white;
			font-size: 18pt;
		}
		#footer{
			bottom: 0;
			background-color: #43e8d8;
			height: 100px;
			width: 100%;

		}
		#containerTwo{
			margin: 0 auto;
			width: 960px;
		}
		#info{
			color: white;
		}
		#info li{
			margin-top: 30px;
			list-style: none;
			color: white;
			text-decoration: none;
			float: left;
			background-color: #89ecda;
			margin-left: 350px;
			padding: 8px;
			border: 3px solid #b3ecec;
		}
		#info li:hover{
			background-color: #b3ecec;
			text-decoration: underline;
		}
	</style>