
.page-header{
	margin-top: 0;
}
.panel-body{
	padding-top: 0;
}
.featureImg{
	margin-bottom: 15px;
}
.opaque-navbar {
    background-color: rgba(0,0,0,0.2);
    height: 50px;
    border-bottom: 0px;
    transition: background-color .5s ease 0s;
}
.opaque-navbar.opaque{
	background-color: black;
	height: 50px;
	transition: background-color .5s ease 0s;
}
ul.dropdown-menu {
   background-color: rgba(0,0,0,0.4);
}
.opaque-navbar.opaque ul.dropdown-menu {
   background-color: black;
}
@media (max-width: 992px) {
	.opaque-navbar {
	    background-color: black;
	    height: 50px;
	    transition: background-color .5s ease 0s;
	}
	ul.dropdown-menu{
		background-color: black;
	}
	#myCarousel{
		margin-top: 50px;
	}
	.navHeaderCollapse{
		background-color: black;
	}
}
.nav.navbar-nav.navbar-right li a {
    color: white;
}
.navbar-inverse .navbar-brand {
	color: white;
}
.navbar-inverse .navbar-brand:hover {
	background-color: rgba(0,0,0,0.2);
}
.navbar-nav li:hover{
	background-color: rgba(0,0,0,0.2);
	color: red;
}
.panel.panel-default{
	margin-top: 60px;
	margin-bottom: 60px;
}
.list-group{
	margin-top: 60px;
	margin-bottom: 60px;
}
.jumbotron{
	margin-top: 50px;
}
.col-md-3{
	margin-bottom: 50px;
}
.navbar-default{
	margin: 0;
}
.sidebar-nav {
    padding: 9px 0;
}

.dropdown-menu .sub-menu {
    left: 100%;
    position: absolute;
    top: 0;
    visibility: hidden;
    margin-top: -1px;
}

.dropdown-menu li:hover .sub-menu {
    visibility: visible;
}

.dropdown:hover .dropdown-menu {
    display: block;
}

.nav-tabs .dropdown-menu, .nav-pills .dropdown-menu, .navbar .dropdown-menu {
    margin-top: 0;
}

.navbar .sub-menu:before {
    border-bottom: 7px solid transparent;
    border-left: none;
    border-right: 7px solid rgba(0, 0, 0, 0.2);
    border-top: 7px solid transparent;
    left: -7px;
    top: 10px;
}
.navbar .sub-menu:after {
    border-top: 6px solid transparent;
    border-left: none;
    border-right: 6px solid #fff;
    border-bottom: 6px solid transparent;
    left: 10px;
    top: 11px;
    left: -6px;
}
.jumbotron p{
	text-decoration: ;
}
.container h1{
	margin-top: 60px;
}
.gallery{
	margin-top: 60px;
}
.col-lg-3{
	margin-bottom: 60px;
}
.text-center{
	padding-right: 75px;
}
